.container {
    margin: 25px auto;
}

.box {
    padding: 20px;
    background-color: white;
    margin: 25px auto;
}

.searchBox {
    padding: 10px;
    display: flex;
}

.titulo {
    margin-bottom: 9px;
    font-family: 'Arial';
    font-weight: bold;
}

.subtitulo {
    font-family: 'Arial';
}